<h1>FACEBOOK</h1>

<%= link_to "Connect Facebook account", "/auth/facebook", method: :post %>

<% @facebook_accounts.each do |facebook_account| %>
 <div>
    <%= image_tag facebook_account.image, class:"rounded-circle" %>
    <%= link_to "@#{facebook_accounts.name}", "https://facebook.com/#{facebook_account.username}", target: :_blank %>
 </div>

 <%= button_to "Disconnect", facebook_account, method: :delete, data: {confirm: "Are you sure ?"} %>
 
<% end %>