  <!-- Start Banner Section -->
  <div class="banner-section section-top-gap-100">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <!-- Start Banner Single Item -->
          <div
            class="banner-single-item banner-style-6 banner-animation img-responsive"
            data-aos="fade-up"
            data-aos-delay="0"
          >
            <div class="image">
              <img src="<%= asset_url('banner/banner-style-6-img-1.jpg')%>" alt="" />
            </div>
            <div class="content">
              <h6 class="sub-title">JASMINE GREEN TEA</h6>
              <h2 class="title">Herbivore Botanicals Basic Collection</h2>
              <p>
                On a mission to create all-natural skin care that delivers
                tangible results, Herbivore ensures every ingredient within
                their formulas has a specific purpose, resulting in highly
                active.
              </p>
              <a
                href="product-details-default.html"
                class="btn btn-lg btn-outline-green icon-space-left"
                ><span class="d-flex align-items-center"
                  >Browse <i class="ion-ios-arrow-thin-right"></i></span
              ></a>
            </div>
          </div>
          <!-- End Banner Single Item -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Banner Section -->