  <!-- Start Banner Section -->
  <div class="banner-section section-top-gap-100">
    <div class="banner-wrapper clearfix">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Start Banner Single Item -->
            <div
              class="banner-single-item banner-style-13 banner-color--green"
              data-aos="fade-up"
              data-aos-delay="0"
            >
              <div class="image">
                <img
                  src="<%= asset_url('banner/banner-style-13-img-1.jpg')%>"
                  alt=""
                />
                <div class="content">
                  <div class="text">
                    <h5 class="sub-title">SALE 15% OFF YOUR 1ST PURCHASE</h5>
                    <h2 class="title">HONO ORGANIC SKIN CARE</h2>

                    <a
                      href="product-details-default.html"
                      class="btn btn-lg btn-green icon-space-left"
                      ><span class="d-flex align-items-center"
                        >Shop Now <i class="ion-ios-arrow-thin-right"></i></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Banner Single Item -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Banner Section -->