<!-- Home page -->
<div style="margin: 200px;">

  <h1>WELCOME TO ITWORKS INFOTECH</h1>

<% if current_user %>
  <p>You are logged in</p>
<% else %>
  <p>Kindly, Login to continue</p>
<% end %>
<!-- Home page -->

</div>