<!-- Home page -->
<div id="comman-margin">

  <h1>WELCOME TO ITWORKS INFOTECH</h1>

<% if current_user && current_user.superadmin? %>
  <p>
    <strong>Hello <%= current_user.username %> ! </strong> 
    You are now logged in
  </p>
<% elsif current_user %>
  <p>
    <strong>Hello <%= current_user.name %> ! </strong> 
    You are now logged in
  </p>
<% else %>
  <p>Kindly, Login to continue</p>
<% end %>

</div>

<!-- Home page -->