<div class="container">
    <div class="text-center mt-5">
        <h1>WELCOME TO INSTA</h1>
        <p class="lead">Register to continue</p>
        <p><%= link_to 'SignUp', new_account_registration_path, class:"btn btn-success" %>
        <%= link_to 'SignIn', new_account_session_path, class:"btn btn-secondary" %></p>  
    </div>
</div>